body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: Georgia;
    color: rgb(45, 45, 45);
}

a:link,
a:visited {
    color: rgb(45, 45, 45);
    text-decoration: none;
}

#header {
    background-color: rgb(255, 210, 160);
    padding: 20px 0 0 0;
    margin: 0 auto 5px auto;
    border-bottom: solid 1px #909090;
}

nav {
    font-size: 20px;
    font: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0px;
    cursor: pointer;
}

nav .menu,
nav .login {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav .menu li,
nav .login li {
    margin-right: 40px;
}

.brand-logo {
    border: 0.5px solid #909090;
    width: 50%;
    height: auto;
    transition-duration: 0.5s;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

.brand-logo:hover {
    transform: scale(1.08, 1.08);
    cursor: pointer;
    border: 0.5px solid #909090;
}

.logo-box {
    display: flex;
    justify-items: center;
    width: 40%;
    height: auto;
    overflow: hidden;
    margin-left: 46.5%;
}

.menu-area,
.menu-chat,
.menu-mypage,
.menu-community,
.menu-login,
.login-contact {
    transition-duration: 0.5s;
}

.menu-area:hover,
.menu-chat:hover,
.menu-mypage:hover,
.menu-community:hover,
.menu-login:hover,
.login-contact:hover {
    background-color: rgb(252, 233, 210);
}

.caution {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-height: 62vh;
    overflow-y: scroll;
    margin-bottom: 0;
}

fieldset {
    border-width: 1px;
    border-color: #909090;
}

.chat-area {
    height: 80vh;
    background: #8DB4E5;
    overflow: scroll
}

.messege-area {
    display: flex;
    height: 7vh;
}

.messege-area-name {
    width: 30%;
    height: auto;
    resize: none;
}

.messege-area-text {
    display: flex;
    width: 44%;
    height: auto;
    resize: none;
}

.messege-area-button {
    width: 10%;
    height: auto;
    resize: none;
}

.name {
    width: 35vh;
}

textarea {
    height: 3em;
}

.text {
    width: 55vh;
    height: auto;
}

.message-area-button {
    width: 20vh;
}

.button {
    width: 100%;
    background: #56e729;
    color: #fff;
    font-size: 25px;
    border: 0.5px solid rgb(132, 132, 132);
    cursor: pointer;
}

.review-form {
    text-align: right;
    font: bold;
    text-decoration-line: underline;
    cursor: pointer;
    /* margin-bottom: none; */
}

footer {
    position: fixed;
    bottom: -30px;
    width: 100%;
    background-color: rgb(255, 210, 160);
    border-top: solid 1px #909090;
}

.wrapper-footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
}

nav {
    width: 100%;
}

nav .menu-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 30px;
}

nav .menu-footer li {
    font-size: 15px;
    margin-right: 16px;
}

.copy-rights {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(160, 112, 0);
    width: 100%;
    bottom: 20px;
}

.footer-first,
.footer-question,
.footer-rule,
.footer-treat,
.footer-policy,
.footer-contact,
.footer-CoInfo {
    transition-duration: 0.5s;
}

.footer-first:hover,
.footer-question:hover,
.footer-rule:hover,
.footer-treat:hover,
.footer-policy:hover,
.footer-contact:hover,
.footer-CoInfo:hover {
    background-color: rgb(252, 233, 210);
}