body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: Georgia;
}
















.wrapper-footer {
    max-width: calc(800px + 2px);
    position: relative;
    bottom: 0px;
    left: 55%;
    transform: translateX(-50%);
}

nav {
    width: 100%;
}

nav .menu-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 50px;
    border-top: solid 1px #909090;
    padding-top: 20px;
}

nav .menu-footer li {
    font-size: 12px;
    margin-right: 14px;
}

.copy-rights {
    position: relative;
    color: rgb(175, 122, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
}